body {
    padding: 1rem;
    width: 400px;
}

#header {
    margin: 0;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

#header h2, button {
    margin: 0;
    vertical-align: middle;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}

.button-main {
    height: 40px;
    display: inline-block;
    text-align: center;
}

#stash-box {
    margin-bottom: 1rem;
    overflow: hidden;
}

select {
    width: 100%;
}

#stash {
    border: rgb(192, 192, 192) 1px solid;
}

#tabs-list {
    overflow-x: hidden;
    overflow-y: scroll;
}

#stash ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    height: 200px;
}

#stash li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#stash li:hover {
    background-color: rgb(219, 219, 219);
}

#stash img {
    width: 16px;
}

#footer {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#footer img {
    width: 24px;
}

#footer img:hover {
    scale: 1.08;
    transition: 0.2s;
    cursor: pointer;
}

#alert {
    padding: 0.5rem;
    color: white;
    background-color: rgb(112, 151, 61);
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s;
}

#alert.show {
    opacity: 1;
}
